# created by virtualenv automatically
/shelf/
/workspace.xml
/.env
vevn/
.idea/
/venv/
/venv/Lib/
/Дополнительные данные.xlsx
/data_total_remains_graf.png
/gross_profit.png
/profit_manufacturer_2002.png
/Общие данные.xlsx
/Основные данные.xlsx
